@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


/* VARIABLES CSS */

:root {
  --header-height: 3rem;
  
  /* COLORS */
  
  --first-color: #2C3722;
  --first-color-lighter: #212529;
  
  --second-color: #636465;
  --second-color-lighter: #8D8D8D;
  
  --third-color: #FEBD00;
  
  --first-bg-color: #639D2B;
  --first-bg-color-lighter: #8CB560;
  
  --second-bg-color: #f8fbf5;
  --second-bg-color-lighter:#ffffff;
  
  /* Fonts */
  
  --body-font-main: 'Poppins', sans-serif;
  --body-font-second: 'Josefin Sans', sans-serif;
  --body-font-third: 'Cookie', cursive;
  
  --big-font-size: 2.5em;
  --title-font-size: 2.5em;
  --subtitle-font-size: 1.75em;
  --regular-font-size: 0.75em;
  
}

@media screen and (max-width: 768px) {
  :root {
    --title-font-size: 1.5em;
  }

  h5 {  
    font-size: 0.8em;
  }

  p {
    line-height: 20px;
  }

  .nav__menu {
    display: none;
  }  
}

/* BASE / RESET CSS */


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--body-font-main);
}

h1 {
  font-family: var(--body-font-second);
  font-size: var(--big-font-size);
  font-weight: 700;
}

h3 {
  font-family: var(--body-font-second);
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 0.5em;
}

h4 {
  font-family: var(--body-font-third);
  font-size: var(--subtitle-font-size);
  color: var(--third-color);
  font-weight: normal;
  margin-bottom: .5em;
}

h5 {
  font-family: var(--body-font-second);
  font-size: 1em;
  font-weight: 600;
  margin-top: 1em;
}

h6 {  
  font-family: var(--body-font-second);
  font-size: 1em;
  font-weight: 500;  
}

p {
  font-size: var(--regular-font-size);
  font-family: var(--body-font-main);
  color: #636465;
  font-weight: 500;
  line-height: 30px;
  margin: 1em 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 2.5em 0;
}

.btn {
  color: white;
  background: linear-gradient(to right, var(--first-bg-color-lighter), var(--first-bg-color));
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: var(--regular-font-size);
  font-family: var(--body-font-main);
  display: inline-block;
  border-radius: 7px;
}

.btn-main {
  box-shadow: 0px 10px 20px rgb(89, 136, 43, 0.3);
}

.btn-input {
  background: white;
  color: #B7B7B7;
  font-weight: 400;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
}

.btn-input:placeholder{
  color: #B7B7B7;
  font-weight: 400;
}


/* Mobile First */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
}

.fixed {
  background: white;
  margin-top: 0;
  padding: 10px 0;
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.3);
}

.container {
  max-width: 1170px;
  width: 85%;
  margin: auto;
}

.navbar {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  flex: 1;
}


.nav__menu {
  flex: 1;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--second-color-lighter);
  font-size: 1.25em;
  font-weight: 500;
  font-family: var(--body-font-second);
}

.nav__link.active {
  color: #212529;
}

/* HERO SECTION */

#hero {
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(var(--second-bg-color), var(--second-bg-color-lighter));
}

.hero-text {
  display: flex;
  flex: 1;
  margin-bottom: 1em;
}


.main-text {
  font-size: var(--regular-font-size);
  font-family: var(--body-font-main);
  color: #636465;
  font-weight: 500;
  line-height: 30px;
  margin: 1em 0;
}

.hero-text-inner .btn-input {
  margin-right: 1em;
}

.hero-img {
  display: flex;
  flex: 1;
}

.hero-img img {
  width: 100%;
  max-width: 100%;
}

/* WELCOME SECTION */

#welcome .container {
  display: flex;
  flex-direction: column;
}

.welcome-text {
  display: flex;
  flex: 1;
  margin-top: 1.5em;
}

.welcome-text-inner {
  text-align: center;
}

.welcome-img {
  display: flex;
  flex: 1;
}

.welcome-img-inner {
  text-align: center;
}


.welcome-img img {
  width: 80%;
  max-width: 80%;
}

/* REASON SECTION */

#reason {
  text-align: center;
}

.reason-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.reason-container {
  max-width: 370px;
  padding: 2em 1em;
  text-align: center;
  background-color: #f8fbf5;
  margin: 1em auto;
  border-radius: 7px;
}

.reason-container:nth-child(1n) {
  margin-top: 0;
}

.reason-container:nth-child(3n) {
  margin-bottom: 0;
}

.reason-container.active {
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.3);
  background-color: white;
  border-bottom: 3px solid var(--first-bg-color);
}

.reason-container p {
  font-size: 0.75em;
}

/* BROWSE SECTION */

#browse {
  text-align: center;
}

.browse-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.browse-menu {
  flex: 1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  color: #979797;
  font-size: 1em;
  font-weight: 500;
}

.menu-item:hover {
  color: var(--third-color);
}

.menu-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-container {
  text-align: center;
  background-color: #f8fbf5;
  margin: 1em 0;
  padding-top: 1em;
  box-shadow: 0px 5px 20px rgb(0, 0, 0, 0.3);
  border-radius: 7px;
}

.menu-container.active {
  border-bottom: 3px solid var(--first-bg-color);
}

.menu-container img:first-of-type {
  width: 80%;
  max-width: 80%;
}

.menu-container h6 {
  margin-bottom: 0.5em;
}

.menu-container p {
  font-size: 1.15em;
  color: var(--first-bg-color);
}

/* HISTORY SECTION */

.history-text {
  text-align: center;
  margin-bottom: 1.5em;
}

.history-img {
  text-align: center;
  background: var(--second-bg-color);
}

.history-img-inner {
  text-align: center;
}

.history-img img {
  width: 80%;
  max-width: 80%;
}

/* TESTIMONIALS SECTION */

#testimonials h3, #testimonials h4 {
  text-align: center;
}

.testimonial-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
}

.testimonial-row:nth-child(2n) {
  justify-content: space-evenly;
}

.testimonial-container {
  margin: 1em 0;
  width: 360px;
  max-width: 360px;
}

.testimonials-text {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
}

.testimonials-users {
  margin-top: 1em;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}

.users-info {
  margin-left: 0.5em;
}

.users-info h6 {
  font-size: 1em;
}

.users-info p {
  margin: 0;
}

@media (min-width:600px) {
   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  
  /* BROWSE SECTION */

  .menu-cart {
    justify-content: space-around;
  }
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 

  section {
    padding: 5em 0;
  }

  /* SECTION HERO */

  #hero {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }
  
  #hero .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* WELCOME SECTION */

  #welcome .container {
    flex-direction: row;
  }

  .welcome-text{
    margin-top: 0;
    margin-left: 1em;
  }

  .welcom-text p {
    font-size: 1em;
  }

 .welcome-img {
    margin-right: 1em;
  }

  .welcome-text-inner {
    text-align: left;
  }

  /* REASON SECTION */

  .reason-row {
    flex-wrap: nowrap;
  }

  .reason-container {
    margin: 0;
  }

  .reason-container:nth-child(2n) {
    margin: 0 2em;
  }

  /* BROWSE SECTION */

  .browse-row, .menu-cart {
    flex-wrap: nowrap;
  }

  .menu-item {
    padding: 0.5em 2em;
  }
  
  .menu-item:hover {    
    border-left: 1px solid var(--third-color);
  }

  .menu-list {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .menu-container {
    margin: 0 0.5em;
  }

  .menu-container:nth-child(3n) {
    margin-right: 0;
  }

  /* HISTORY SECTION */

  #history .container {
    display: flex;
  }

  .history-img, .history-text {
    flex: 1;
  }

  .history-text {
    text-align: left;
  }

  /* TESTIMONIALS SECTION */

  .testimonial-row {
    margin: 2.5em 0;
  }

  .testimonial-container {
    margin: 0 0.5em;
    margin-bottom: 1em;
  }
}

@media (min-width:1025px) {
 /* big landscape tablets, laptops, and desktops */ 

 /* HEROS SECTION */

 #hero h1 {
   font-size: 4.5em;
 }
}
